* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background: #0a0906;
  color: #f0ead8;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
}

input[type='date']::-webkit-calendar-picker-indicator {
  filter: invert(0.6);
  cursor: pointer;
}

select option {
  background: #1c1915;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #0a0906;
}

::-webkit-scrollbar-thumb {
  background: #35302a;
  border-radius: 3px;
}

.hov:hover {
  opacity: 0.8;
}

.card-hov:hover {
  border-color: #8b7030 !important;
  transform: translateY(-1px);
}

.gh:hover {
  border-color: #7a7060 !important;
  color: #f0ead8 !important;
}

.slot:hover:not(:disabled) {
  border-color: #8b7030 !important;
  color: #e8c96d !important;
}

.nb:hover {
  border-color: #8b7030 !important;
  transform: translateY(-2px);
}

.row:hover {
  background: #1c1915 !important;
}

.nav-i:hover {
  background: rgba(201, 168, 76, 0.09) !important;
  color: #c9a84c !important;
}
